div {
   background-image:url("http://www.fishinasub.com/wp-content/uploads/2012/07/tame-impala-lonerism.jpeg");
}
h1 {
	font-family:"BioRhymeRegular";
	font-weight:normal;
	font-style:normal;
    color:darkviolet;
	font-weight:bold;
}
h3 {
	font-family:"AmaranthRegular";
	font-weight:normal;
	font-style:normal;	
}
li {
  color:darkviolet;
  font-style:italic;
}
th {
  color:floralwhite;
}
td {
  font-style:italic;
}
table {
	background-color:paleturquoise;
}
a {
  font-family:none;
  text-decoration:none;
  font-weight:none;  
}
a:link {
  color:purple;	
}
a:visited {
  color:maroon;
}
a:hover {
  text-decoration:underline;
  background-color:skyblue;
}
a:active {
  font-weight:none;
}