h1 {
	font-family:"BioRhymeRegular";
	font-weight:normal;
	font-style:normal;
    color:darkviolet;
	font-weight:bold;
}
h3 {
	font-family:"AmaranthRegular";
	font-weight:normal;
	font-style:normal;	
}
li {
  color:darkviolet;
  font-style:italic;
}
caption {
	text-align:center;
	color:black;
}
/* Zebra striping */
tr:nth-of-type(odd) {
 background: #16a085;
}
th {
  color:floralwhite;
  text-align:center;
  background: #2c3e50;
  font-weight: bold;
}
td {
  font-style:italic;
}
/*Responsive table*/
table {
	background-color:paleturquoise;
	border-color:black;
}
a {
  font-family:none;
  text-decoration:none;
  font-weight:none;  
}
a:link {
  color:purple;	
}
a:visited {
  color:maroon;
}
a:hover {
  text-decoration:underline;
  background-color:skyblue;
}
a:active {
  font-weight:none;
}