h1 {
    font-family:"ThatNogoFontCasual";
	font-weight:normal;
	font-style:normal;
	color:midnightblue;
    font-weight:bold;
}
h3 {
	color:midnightblue;
}
a {
  font-family:none;
  text-decoration:none;
  font-weight:none;  
}
a:link {
  color:royalblue;	
}
a:visited {
  color:magenta;
}
a:hover {
  font-weight:bold;  
}
a:active {
  font-weight:none;
}