div {
   background-image:url("http://www.fishinasub.com/wp-content/uploads/2012/07/tame-impala-lonerism.jpeg");
}
h1 {
	font-family:"BioRhymeRegular";
	font-weight:normal;
	font-style:normal;
    color:darkviolet;
	font-weight:bold;
}
h3 {
	font-family:"AmaranthRegular";
	font-weight:normal;
	font-style:normal;	
}
li {
  color:darkviolet;
  font-style:italic;
}
th {
  color:floralwhite;
}
